/**
 * Sasslint: force-element-nesting
 * Stylelint:
 *
 * @purpose Ensure we ported over `force-element-nesting` from sasslint.
 *
 * @since
 * @author Aubrey Portwood <aubrey@webdevstudios.com>
 *
 * @see	https://github.com/WebDevStudios/css-coding-standards/blob/1.0.1/.sass-lint.yml#L62
 *
 * Stylelint is not forcing element nesting, or the below would be dis-allowed.
 *
 * No rule needed.
 */

div p {
	content: '';
}

.parent {

	&__child h1 {
		content: '';
	}
}

a[target='_blank'] span {
	content: '';
}
