/**
 * Sasslint:  function-name-format
 * Stylelint: scss/at-function-pattern
 *
 * @purpose Ensure we ported over `function-name-format` from sasslint.
 *
 * @since  2.0.0
 * @author Aubrey Portwood <aubrey@webdevstudios.com>
 *
 * @see https://github.com/WebDevStudios/css-coding-standards/blob/1.0.1/.sass-lint.yml#L65
*/

// This should be allowed.
@function hyphenated-hyphenated() {

	@return "foo";

}

// [x] This should error.
@function snakeCase() {

	@return "foo";

}

// [x] This should error.
@function narb_underscored() {

	@return "foo";

}

// This should be allowed.
@function _narb-dashed($x) {

	@return $x;

}

.foo {
	content: hyphenated-lowercase("bar");
}

.bar {
	content: snakeCase("foo"); // [x] Value should not be allowed.
	font: narb_underscored("foo"); // [ ] Value should not be allowed.

	background: _narb-dashed("foo"); // Allowed.
	padding: narb-dashed("foo"); // Allowed
	display: fark("foo"); // Allowed
	margin: leading8underscore("foo"); // Allowed
}
